<h1>ユーザー情報</h1>
  <h3><%= @user.name %></h3>
    <div>
      <%= image_tag @user.get_profile_image(100,100) %>
    </div>
    <div class="row">
      <a class="btn btn-outline-secondary btn-block edit_user.id" href="/users/<%= user.id %>/edit">
        ユーザー情報変更はこちらへ
      </a>
    </div>
    <div class="row">
      <%= link_to "新規投稿はこちらへ", new_post_path, class: "btn btn-outline-warning btn-block edit_user.id" %>
    </div>
