<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="mx-auto col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0" >
        <h1>Aboutページ</h1>
        <p>全ての野球ファン同士による、推しのチームや選手について語り合えるコミュニティサイト</p>
        <p>
          <%= link_to "気になる方はこちらで新規登録ができます！！", new_user_registration_path, class: "btn btn-success" %>

        </p>
      </div>
    </div>
  </div>