<p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="mx-auto">
        <h1>ALL-BASEBALL-FUNSへようこそ！！<i class="fa-solid fa-baseball"></i></h1>
        <div class="btn-wrapper col-10 mx-auto">
          <div class="row">
            初めての方はこちら
            <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">新規登録</a>
          </div>
          <div class="row">
            登録済みの方はこちら
            <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">ログイン</a>
          </div>
        </div>
      </div>
    </div>
  </div>